body {
    font-family: "Bitstream Vera Sans", "Verdana", sans;
    font-size: 0.8em;
    margin: 12px;
}
h2 {
    border-bottom: 1px solid grey;
}
input {
    border: 1px solid grey;
}
#login_pane{
    float: right;
}
#sendmsg_pane{
    float: right;
}
#iResp {
    width: 420px;
    height: 260px;
    overflow: auto;
    border: 2px dashed grey;
    padding: 4px;
}
#msgArea {
    width: 420px;
    height: 45px;
    padding: 4px;
    margin: 0;
    border: 2px dashed grey;
}
.spaced {
    margin-bottom: 4px;
}
.msg {
    border-bottom: 1px solid black;
}
.error {
    font-weight: bold;
    color: red;
}
